@model IEnumerable<nihongo2.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1 class="ceasar">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-danger">Nova Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-danger"asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" class="btn btn-outline-danger" asp-route-id="@item.CategoriaId">Detalhes</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.CategoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
